MonitoreoCurricular/Service References/SrController/Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParametros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parametros" nillable="true" type="tns:Parametros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametros" nillable="true" type="tns:ArrayOfParametros" />
  <xs:complexType name="Parametros">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parametros" nillable="true" type="tns:Parametros" />
  <xs:complexType name="ArrayOfHistorialCurricular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistorialCurricular" nillable="true" type="tns:HistorialCurricular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistorialCurricular" nillable="true" type="tns:ArrayOfHistorialCurricular" />
  <xs:complexType name="HistorialCurricular">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asignaturas" nillable="true" type="tns:ArrayOfParametros" />
      <xs:element minOccurs="0" name="Resoluciones" nillable="true" type="tns:ArrayOfResoluciones" />
      <xs:element minOccurs="0" name="antes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="despues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idCarrera" type="xs:int" />
      <xs:element minOccurs="0" name="idPlan" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorialCurricular" nillable="true" type="tns:HistorialCurricular" />
  <xs:complexType name="ArrayOfResoluciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resoluciones" nillable="true" type="tns:Resoluciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResoluciones" nillable="true" type="tns:ArrayOfResoluciones" />
  <xs:complexType name="Resoluciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="hito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idHistorial" type="xs:int" />
      <xs:element minOccurs="0" name="idPlan" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCarrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreEscuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreFacultad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resoluciones" nillable="true" type="tns:Resoluciones" />
  <xs:complexType name="ArrayOfAsignaturas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asignaturas" nillable="true" type="tns:Asignaturas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsignaturas" nillable="true" type="tns:ArrayOfAsignaturas" />
  <xs:complexType name="Asignaturas">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAsignatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomAsignatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomInstituto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asignaturas" nillable="true" type="tns:Asignaturas" />
  <xs:complexType name="LogNapoli">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idObjetos" type="xs:int" />
      <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origenError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogNapoli" nillable="true" type="tns:LogNapoli" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rut" type="xs:int" />
      <xs:element minOccurs="0" name="apMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>