MonitoreoCurricular/Service References/SrController/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Controller" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IController_TraeFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeFacultad" />
  </wsdl:message>
  <wsdl:message name="IController_TraeFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeEscuelaPorFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeEscuelaPorFacultad" />
  </wsdl:message>
  <wsdl:message name="IController_TraeEscuelaPorFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeEscuelaPorFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorEscuela_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorEscuela" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorEscuela_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorEscuelaResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeHistorialPorCarrera_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeHistorialPorCarrera" />
  </wsdl:message>
  <wsdl:message name="IController_TraeHistorialPorCarrera_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeHistorialPorCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignaturasPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignaturasPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignaturasPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignaturasPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeResolucionPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeResolucionPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_TraeResolucionPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeResolucionPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:TraePlan" />
  </wsdl:message>
  <wsdl:message name="IController_TraePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorPlan" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignatura_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignatura" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="IController">
    <wsdl:operation name="TraeFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeFacultad" message="tns:IController_TraeFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeFacultadResponse" message="tns:IController_TraeFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeEscuelaPorFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeEscuelaPorFacultad" message="tns:IController_TraeEscuelaPorFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeEscuelaPorFacultadResponse" message="tns:IController_TraeEscuelaPorFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorEscuela">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeCarreraPorEscuela" message="tns:IController_TraeCarreraPorEscuela_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeCarreraPorEscuelaResponse" message="tns:IController_TraeCarreraPorEscuela_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeHistorialPorCarrera">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeHistorialPorCarrera" message="tns:IController_TraeHistorialPorCarrera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeHistorialPorCarreraResponse" message="tns:IController_TraeHistorialPorCarrera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeAsignaturasPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeAsignaturasPorHistorial" message="tns:IController_TraeAsignaturasPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeAsignaturasPorHistorialResponse" message="tns:IController_TraeAsignaturasPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeResolucionPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeResolucionPorHistorial" message="tns:IController_TraeResolucionPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeResolucionPorHistorialResponse" message="tns:IController_TraeResolucionPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraePlan" message="tns:IController_TraePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraePlanResponse" message="tns:IController_TraePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeCarreraPorPlan" message="tns:IController_TraeCarreraPorPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeCarreraPorPlanResponse" message="tns:IController_TraeCarreraPorPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeAsignatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeAsignatura" message="tns:IController_TraeAsignatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeAsignaturaResponse" message="tns:IController_TraeAsignatura_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IController" type="tns:IController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraeFacultad">
      <soap:operation soapAction="http://tempuri.org/IController/TraeFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEscuelaPorFacultad">
      <soap:operation soapAction="http://tempuri.org/IController/TraeEscuelaPorFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorEscuela">
      <soap:operation soapAction="http://tempuri.org/IController/TraeCarreraPorEscuela" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeHistorialPorCarrera">
      <soap:operation soapAction="http://tempuri.org/IController/TraeHistorialPorCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeAsignaturasPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/TraeAsignaturasPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeResolucionPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/TraeResolucionPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraePlan">
      <soap:operation soapAction="http://tempuri.org/IController/TraePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorPlan">
      <soap:operation soapAction="http://tempuri.org/IController/TraeCarreraPorPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeAsignatura">
      <soap:operation soapAction="http://tempuri.org/IController/TraeAsignatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Controller">
    <wsdl:port name="BasicHttpBinding_IController" binding="tns:BasicHttpBinding_IController">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfController/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>