MonitoreoCurricular/Service References/SrController/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Controller" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IController_TraeFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeFacultad" />
  </wsdl:message>
  <wsdl:message name="IController_TraeFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeEscuelaPorFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeEscuelaPorFacultad" />
  </wsdl:message>
  <wsdl:message name="IController_TraeEscuelaPorFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeEscuelaPorFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorEscuela_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorEscuela" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorEscuela_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorEscuelaResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeHistorialPorCarrera_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeHistorialPorCarrera" />
  </wsdl:message>
  <wsdl:message name="IController_TraeHistorialPorCarrera_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeHistorialPorCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignaturasPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignaturasPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignaturasPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignaturasPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeResolucionPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeResolucionPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_TraeResolucionPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeResolucionPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:TraePlan" />
  </wsdl:message>
  <wsdl:message name="IController_TraePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorPlan" />
  </wsdl:message>
  <wsdl:message name="IController_TraeCarreraPorPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeCarreraPorPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeRol_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeRol" />
  </wsdl:message>
  <wsdl:message name="IController_TraeRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeRolResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignatura_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignatura" />
  </wsdl:message>
  <wsdl:message name="IController_TraeAsignatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeAsignaturaResponse" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarAsignaturaPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAsignaturaPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarAsignaturaPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAsignaturaPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeResoluciones_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeResoluciones" />
  </wsdl:message>
  <wsdl:message name="IController_TraeResoluciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeResolucionesResponse" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarResolucionPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResolucionPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarResolucionPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResolucionPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeHistorialPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeHistorialPorId" />
  </wsdl:message>
  <wsdl:message name="IController_TraeHistorialPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeHistorialPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_ActualizarHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_ActualizarHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarAsignaturasPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAsignaturasPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarAsignaturasPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAsignaturasPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarResolucionPorHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResolucionPorHistorial" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarResolucionPorHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResolucionPorHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="IController_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IController_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeUsuarios" />
  </wsdl:message>
  <wsdl:message name="IController_TraeUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarUsuario" />
  </wsdl:message>
  <wsdl:message name="IController_GuardarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IController_RegistrarLog_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLog" />
  </wsdl:message>
  <wsdl:message name="IController_RegistrarLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeUsuarioPorRut_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeUsuarioPorRut" />
  </wsdl:message>
  <wsdl:message name="IController_TraeUsuarioPorRut_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeUsuarioPorRutResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TrearBitacora_InputMessage">
    <wsdl:part name="parameters" element="tns:TrearBitacora" />
  </wsdl:message>
  <wsdl:message name="IController_TrearBitacora_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrearBitacoraResponse" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IController_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IController_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="IController_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IController">
    <wsdl:operation name="TraeFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeFacultad" message="tns:IController_TraeFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeFacultadResponse" message="tns:IController_TraeFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeEscuelaPorFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeEscuelaPorFacultad" message="tns:IController_TraeEscuelaPorFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeEscuelaPorFacultadResponse" message="tns:IController_TraeEscuelaPorFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorEscuela">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeCarreraPorEscuela" message="tns:IController_TraeCarreraPorEscuela_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeCarreraPorEscuelaResponse" message="tns:IController_TraeCarreraPorEscuela_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeHistorialPorCarrera">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeHistorialPorCarrera" message="tns:IController_TraeHistorialPorCarrera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeHistorialPorCarreraResponse" message="tns:IController_TraeHistorialPorCarrera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeAsignaturasPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeAsignaturasPorHistorial" message="tns:IController_TraeAsignaturasPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeAsignaturasPorHistorialResponse" message="tns:IController_TraeAsignaturasPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeResolucionPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeResolucionPorHistorial" message="tns:IController_TraeResolucionPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeResolucionPorHistorialResponse" message="tns:IController_TraeResolucionPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraePlan" message="tns:IController_TraePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraePlanResponse" message="tns:IController_TraePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeCarreraPorPlan" message="tns:IController_TraeCarreraPorPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeCarreraPorPlanResponse" message="tns:IController_TraeCarreraPorPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeRol" message="tns:IController_TraeRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeRolResponse" message="tns:IController_TraeRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeAsignatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeAsignatura" message="tns:IController_TraeAsignatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeAsignaturaResponse" message="tns:IController_TraeAsignatura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/GuardarHistorial" message="tns:IController_GuardarHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/GuardarHistorialResponse" message="tns:IController_GuardarHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarAsignaturaPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/GuardarAsignaturaPorHistorial" message="tns:IController_GuardarAsignaturaPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/GuardarAsignaturaPorHistorialResponse" message="tns:IController_GuardarAsignaturaPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeResoluciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeResoluciones" message="tns:IController_TraeResoluciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeResolucionesResponse" message="tns:IController_TraeResoluciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarResolucionPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/GuardarResolucionPorHistorial" message="tns:IController_GuardarResolucionPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/GuardarResolucionPorHistorialResponse" message="tns:IController_GuardarResolucionPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeHistorialPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeHistorialPorId" message="tns:IController_TraeHistorialPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeHistorialPorIdResponse" message="tns:IController_TraeHistorialPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/EliminarHistorial" message="tns:IController_EliminarHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/EliminarHistorialResponse" message="tns:IController_EliminarHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/ActualizarHistorial" message="tns:IController_ActualizarHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/ActualizarHistorialResponse" message="tns:IController_ActualizarHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAsignaturasPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/EliminarAsignaturasPorHistorial" message="tns:IController_EliminarAsignaturasPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/EliminarAsignaturasPorHistorialResponse" message="tns:IController_EliminarAsignaturasPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarResolucionPorHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/EliminarResolucionPorHistorial" message="tns:IController_EliminarResolucionPorHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/EliminarResolucionPorHistorialResponse" message="tns:IController_EliminarResolucionPorHistorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/ValidarUsuario" message="tns:IController_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/ValidarUsuarioResponse" message="tns:IController_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeUsuarios" message="tns:IController_TraeUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeUsuariosResponse" message="tns:IController_TraeUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/GuardarUsuario" message="tns:IController_GuardarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/GuardarUsuarioResponse" message="tns:IController_GuardarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/RegistrarLog" message="tns:IController_RegistrarLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/RegistrarLogResponse" message="tns:IController_RegistrarLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeUsuarioPorRut">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeUsuarioPorRut" message="tns:IController_TraeUsuarioPorRut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeUsuarioPorRutResponse" message="tns:IController_TraeUsuarioPorRut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrearBitacora">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TrearBitacora" message="tns:IController_TrearBitacora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TrearBitacoraResponse" message="tns:IController_TrearBitacora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/EliminarUsuario" message="tns:IController_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/EliminarUsuarioResponse" message="tns:IController_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/ActualizarUsuario" message="tns:IController_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/ActualizarUsuarioResponse" message="tns:IController_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IController" type="tns:IController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraeFacultad">
      <soap:operation soapAction="http://tempuri.org/IController/TraeFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEscuelaPorFacultad">
      <soap:operation soapAction="http://tempuri.org/IController/TraeEscuelaPorFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorEscuela">
      <soap:operation soapAction="http://tempuri.org/IController/TraeCarreraPorEscuela" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeHistorialPorCarrera">
      <soap:operation soapAction="http://tempuri.org/IController/TraeHistorialPorCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeAsignaturasPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/TraeAsignaturasPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeResolucionPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/TraeResolucionPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraePlan">
      <soap:operation soapAction="http://tempuri.org/IController/TraePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeCarreraPorPlan">
      <soap:operation soapAction="http://tempuri.org/IController/TraeCarreraPorPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeRol">
      <soap:operation soapAction="http://tempuri.org/IController/TraeRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeAsignatura">
      <soap:operation soapAction="http://tempuri.org/IController/TraeAsignatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/GuardarHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarAsignaturaPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/GuardarAsignaturaPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeResoluciones">
      <soap:operation soapAction="http://tempuri.org/IController/TraeResoluciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarResolucionPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/GuardarResolucionPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeHistorialPorId">
      <soap:operation soapAction="http://tempuri.org/IController/TraeHistorialPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/EliminarHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/ActualizarHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAsignaturasPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/EliminarAsignaturasPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarResolucionPorHistorial">
      <soap:operation soapAction="http://tempuri.org/IController/EliminarResolucionPorHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IController/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeUsuarios">
      <soap:operation soapAction="http://tempuri.org/IController/TraeUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarUsuario">
      <soap:operation soapAction="http://tempuri.org/IController/GuardarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLog">
      <soap:operation soapAction="http://tempuri.org/IController/RegistrarLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeUsuarioPorRut">
      <soap:operation soapAction="http://tempuri.org/IController/TraeUsuarioPorRut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrearBitacora">
      <soap:operation soapAction="http://tempuri.org/IController/TrearBitacora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IController/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/IController/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Controller">
    <wsdl:port name="BasicHttpBinding_IController" binding="tns:BasicHttpBinding_IController">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfController/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>