MonitoreoCurricular/Service References/SrController/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Models" />
  <xs:element name="TraeFacultad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeFacultadResult" nillable="true" type="q1:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeEscuelaPorFacultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFacultad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeEscuelaPorFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeEscuelaPorFacultadResult" nillable="true" type="q2:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeCarreraPorEscuela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEscuela" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeCarreraPorEscuelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeCarreraPorEscuelaResult" nillable="true" type="q3:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeHistorialPorCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCarrera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeHistorialPorCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeHistorialPorCarreraResult" nillable="true" type="q4:ArrayOfHistorialCurricular" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeAsignaturasPorHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHistorial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeAsignaturasPorHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeAsignaturasPorHistorialResult" nillable="true" type="q5:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeResolucionPorHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHistorial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeResolucionPorHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeResolucionPorHistorialResult" nillable="true" type="q6:ArrayOfResoluciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraePlan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraePlanResult" nillable="true" type="q7:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeCarreraPorPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeCarreraPorPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeCarreraPorPlanResult" nillable="true" type="q8:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeAsignatura">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeAsignaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeAsignaturaResult" nillable="true" type="q9:ArrayOfAsignaturas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="Historial" nillable="true" type="q10:HistorialCurricular" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarHistorialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarAsignaturaPorHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHistorial" type="xs:int" />
        <xs:element minOccurs="0" name="idAsignatura" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarAsignaturaPorHistorialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeResoluciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeResolucionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeResolucionesResult" nillable="true" type="q11:ArrayOfResoluciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResolucionPorHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHistorial" type="xs:int" />
        <xs:element minOccurs="0" name="nomResolucion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pathResolucion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResolucionPorHistorialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>