MonitoreoCurricular/Service References/SrController/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Controller" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IController_TraeFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeFacultad" />
  </wsdl:message>
  <wsdl:message name="IController_TraeFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeFacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IController_TraeEscuelaPorFacultad_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeEscuelaPorFacultad" />
  </wsdl:message>
  <wsdl:message name="IController_TraeEscuelaPorFacultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeEscuelaPorFacultadResponse" />
  </wsdl:message>
  <wsdl:portType name="IController">
    <wsdl:operation name="TraeFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeFacultad" message="tns:IController_TraeFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeFacultadResponse" message="tns:IController_TraeFacultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeEscuelaPorFacultad">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/TraeEscuelaPorFacultad" message="tns:IController_TraeEscuelaPorFacultad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/TraeEscuelaPorFacultadResponse" message="tns:IController_TraeEscuelaPorFacultad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IController" type="tns:IController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraeFacultad">
      <soap:operation soapAction="http://tempuri.org/IController/TraeFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEscuelaPorFacultad">
      <soap:operation soapAction="http://tempuri.org/IController/TraeEscuelaPorFacultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Controller">
    <wsdl:port name="BasicHttpBinding_IController" binding="tns:BasicHttpBinding_IController">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfController/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>