MonitoreoCurricular/Service References/SrController/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Models" />
  <xs:element name="TraeFacultad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeFacultadResult" nillable="true" type="q1:ArrayOfFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeEscuelaPorFacultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFacultad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeEscuelaPorFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeEscuelaPorFacultadResult" nillable="true" type="q2:ArrayOfFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeCarreraPorEscuela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEscuela" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeCarreraPorEscuelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="TraeCarreraPorEscuelaResult" nillable="true" type="q3:ArrayOfFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>